<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | CareerMind-AI</title>

    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="/history">History</a></li>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/logout">LogOut</a></li>
                </ul>
            </nav>

        </div>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="container">
        <p>&copy; 2026 CareerMind-AI. All rights reserved.</p>
    </footer>

</body>

</html>