{% extends 'base.html' %}

{% block content %}
<div class="auth-container">
    <div class="auth-card">
        <h2>Welcome Back🤚</h2>
        <p class="sub-text">Log in to your account</p>
        <form action="/login" method="post">
            <label for="email">Email:</label>
            <input type="email" id="email" placeholder="Enter your Email" name="email">
            <label for="password">Password:</label>
            <input type="password" id="password" placeholder="Enter your Password" name="password">
            <button type="submit">Login</button>
        </form>
        <div class="auth-links">
            <a href="#">Forgot Password?</a>
        </div>

        <p class="switch-auth">Don't have an account?<a href="/signup">Sign up here</a></p>
    </div>
</div>
{% endblock %}